body {
  background-color: black;
}

/*@font-face {
    font-family: Samurai;
    src: url(fonts/samurai.ttf);
}*/

p {
  font-family: Rock Salt, sans-serif;
  font-size: 18px;
  font-style: bold;
  color: red;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
  margin: 0;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  position: absolute;
  z-index: 10;
  top: 175px;
  left: 520px;
  float: left;
}

.click-ryu {
  width: 220px;
  height: 175px;
  position: absolute;
  top: 115px;
  left: 625px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.press-x {
  width: 220px;
  height: 225px;
  position: absolute;
  top: 250px;
  left: 850px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: justify;
}
